.sidebar {
    width: 100px;
    height: 100vh;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0px;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar.open:hover {
    left: 0;
    width: 200px;
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .sidebar-item {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .toggle-indicator {
    position: absolute;
    top: 20px;
    right: -40px;
    background-color: #444;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .sidebar:hover .toggle-indicator {
    transform: translateX(-100%);
  }
  